<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
    Gifwriter
{% endblock title_block %}
    

{% block body_block %}

    <div class="row center submitfield">
            <form method="GET" action="{% url 'result' %}" class="mx-auto text-center eighty"> 
                <div class="form-group">
                    <input class="form-control custom-input" id="querybox" name="query" type="text" placeholder="Get GIFs">
                    <input type="submit" value="Submit" class="form-control custom-button">
                </div>
            </form>
    </div>
{% endblock body_block %}
    