<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
    Gifemo
{% endblock title_block %}
    

{% block body_block %}    
    {% if submitted %}
        <style>
            .gifground {
                background: url('{{ url }}');
                background-size: cover;
            }
        </style>
        <script>
            $('body').attr('class', 'gifground')
        </script> 
        <div class="row center">
            <p class="mx-auto">
                {{ text }}
            </p>
        </div>
    {% else %}
        <div class="row center">
            <form method="POST" class="mx-auto text-center">
                <div class="form-group">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="Submit" class="custom-button" hidden>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock body_block %}
    