@font-face{
    font-family: 'Uni Sans CAPS Heavy Italic';
    src: url("Uni Sans Heavy Italic.otf");
  }

.gradient{
    background: linear-gradient(to right,#00b09b, #96c93d) no-repeat;
}

body{
    height:100vh;
    margin:0;
    font-family: 'Uni Sans CAPS Heavy Italic', sans-serif !important;
    line-height:1.8em;
    color:#f4f4f4 !important;

  }

.row{
  margin: 0 !important;
}

.center {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    position: relative;
    font-size: 70px;
    top: 50%;
    transform: translateY(-50%);
  }

  .userinput{
     background-color: rgba(0,0,0,0);
     border: 0;
     color:#f4f4f4 !important;
     width: 80%;
     min-height: 20vh;
     max-height: 60vh;
  }

  .custom-button{
    background-color: rgba(0,0,0,0);
    border: 3px, solid, #f4f4f4 !important;
    color:#f4f4f4 !important;
    width: 80%;
  }